<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Website Ready</title>

  </head>
  <body>
    {{> header}}
    <p>{{screamIt messsage}}</p>

    {{> footer}}
  </body>
</html>
